/* You can add global styles to this file, and also import other style files */
@import '~material-design-icons/iconfont/material-icons.css';
@import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-alpine.css";

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
ul li, li {
    list-style: none;
    padding: 2px 10px;
}


.snackbar-error{
  background-color: dimgrey;
}

.snackbar-success{
  background-color: cadetblue;
}


.ag-header-cell-text{
  font-weight: 600;
  font-size: 12pt;
  color: rgb(104, 103, 103);
}
